p {
    font-family: Montserrat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.firstline {
    margin-bottom: 5px;
}
.domain {
    font-weight: bold;
    font-size: 23px;
}
.handle {
    color: grey;
    font-size: 23px;
}

.description {
    font-size: 18px;
    margin-bottom: 10px;
}

.lastline {
    font-size: 18px;
}
.subhandle {
    color: rgb(75, 141, 248);
}